.logo {
    width: 130px;
}

.navbar {
    --bs-navbar-padding-y: 0 !important;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.navbar-nav {
    --bs-nav-link-color: var(--negro) !important;
    --bs-nav-link-hover-color: var(--azul) !important;    
}

.navbar-nav .nav-link.active {
    color: var(--azul) !important;
}

.container-fluid {
    --bs-gutter-x: 7rem !important;
}

.navbar > .container-fluid {
    background-color: var(--gris) !important;
}

.bg-light {
    --bs-bg-opacity: 0 !important;
}