
/* importar fuente  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: rgb(216, 214, 214);
}

body {
    font-family: 'Lato', 'sans-serif';
}
