@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap'); /* importar fuente  */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: rgb(216, 214, 214);
}

body {
    font-family: 'Nunito', sans-serif; /* CAMBIAR fuente   */
}